<div >
    <mat-toolbar>
        <button mat-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
        <mat-menu #menu="matMenu"  >
            <ng-template #toolbar>
                <button mat-menu-item routerLink="/signup"><mat-icon>person_add</mat-icon>Sign Up</button>
                <button mat-menu-item routerLink="/login"><mat-icon>login</mat-icon>Sign In</button>
            </ng-template>
          
          <button mat-menu-item *ngIf="currentUser?.lastName else toolbar"><mat-icon>account_circle</mat-icon>{{currentUser.lastName}}</button>
          <button mat-menu-item *ngIf="currentUser" (click)="logout()"><mat-icon>logout</mat-icon>Logout</button>
        </mat-menu>
    <span >
      
    </span>
    
    <span class="example-spacer"></span>

  </mat-toolbar>
</div>