 
<div class="form_wrapper">
    <div class="form_container">
      <div class="title_container">
        <h2>User Registration Form</h2>
        <div>
          <alert></alert>
        </div>
        
      </div>
      <div class="row clearfix">
        <div class="">
          <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
            <div class="row clearfix">
              <div class="col_half">
                <div class="input_field"  [ngClass]="{ 'is-invalid': firstName?.errors }">
                  <div class="input_field" >
                    <span><mat-icon>account_box</mat-icon></span>
                    <input formControlName="firstName" type="text" name="name" placeholder="First Name" (blur)="enableNameFieldError()" autocomplete="false" />
                  </div>
                  <!-- <div *ngIf="firstName.errors" class="invalid-feedback"> -->
                    <div *ngIf="nameFieldActive&&firstName?.errors.required" class="invalid-feedback">First Name is required</div>
                <!-- </div> -->
                </div>
              </div>
              
              <div class="col_half">
                <div class="input_field"  [ngClass]="{ 'is-invalid':lastName?.errors }"> 
                  <div class="input_field">
                    <span><mat-icon>account_box</mat-icon></span>
                  <input formControlName="lastName" type="text" name="name" placeholder="Last Name"  />

                  </div>
                  <div *ngIf="lastName?.errors" class="invalid-feedback">
                    <div *ngIf="lastName?.errors.required">Last Name is required</div>
                </div>
                </div>
              </div>
            </div>
              




            <div class="input_field" [ngClass]="{ 'is-invalid': email?.errors }"> 
              <div class="input_field">
                <span><mat-icon>contact_mail</mat-icon></span>
              <input  type="email" formControlName="email"  placeholder="Email"  />

              </div>
              <div *ngIf="email?.errors" class="invalid-feedback">
                <div *ngIf="email?.errors.required">Email is required</div>
                <div *ngIf="email?.errors.email">Email must be a valid email address</div>
            </div>
            </div>
            <div class="input_field" [ngClass]="{ 'is-invalid': phone?.errors }"> 
              <div class="input_field">
                <span><mat-icon>phone</mat-icon></span>
              <input  type="tel" formControlName="phone"  placeholder="Enter your phone number"  />

              </div>
              <div *ngIf="phone?.errors" class="invalid-feedback">
                <div *ngIf="phone?.errors.required">Phone number is required</div>
                <div *ngIf="phone?.errors.pattern">Invalid phone number</div>
                <div *ngIf="phone?.errors.maxlength">Phone number can not exceed 11 digits</div>
            </div>
            </div>
           
            <div class="input_field" > 
              <div class="input_field">
                <span><mat-icon>lock</mat-icon></span>
              <input [ngClass]="{ 'is-invalid': password?.errors }" formControlName="password" type="password" placeholder="Password"  />
              </div>
              <div *ngIf="password?.errors" class="invalid-feedback">
                <div *ngIf="password?.errors.required">Password is required</div>
                <div *ngIf="password?.errors.minlength">Password must be at least 6 characters</div>
            </div>
            </div>
            <div class="input_field">
              <div  class="input_field">
                <span><mat-icon>lock</mat-icon></span>
                <input formControlName="confirmPassword" type="password" name="password" placeholder="Re-type Password" [ngClass]="{ 'is-invalid': submitted && confirmPassword.errors }"  />
              </div>
              <div *ngIf="confirmPassword?.errors" class="invalid-feedback">
                <div *ngIf="confirmPassword?.errors.required">Confirm Password is required</div>
                <div *ngIf="confirmPassword?.errors.mustMatch">Passwords must match</div>
            </div>
            </div>
            <mat-form-field appearance="outline"> 
              <input matInput [matDatepicker]="datepicker" (click)="datepicker.open()" [max]="maxValidDOB" formControlName="dob" name="dob" placeholder="Date of birth" />
              <mat-datepicker-toggle matSuffix [for]="datepicker"  matSuffix></mat-datepicker-toggle>
              <mat-datepicker #datepicker >
              </mat-datepicker>
            </mat-form-field>
           
               
              
            
          </form>
          <button mat-raised-button color="primary" [disabled]="true">Send</button>
        </div>
      </div>
    </div>
  </div>


